<div class="section padding10">
    <div class="container-fluid">
        <div class="card">
      <div class="card-header user p-t-1">
        <h5>
          <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="active">
            <a id="tab1" data-toggle="tab" href="#1" role="tab">Auto Solution</a>
          </li><li>
            <a id="tab2" data-toggle="tab" href="#2" role="tab">Office Details</a>
          </li><li>
            <a id="tab3" data-toggle="tab" href="#3" role="tab">Residential Details</a>
          </li><li>
            <a id="tab4" data-toggle="tab" href="#4" role="tab">Car Details</a>
          </li><li>
            <a id="tab5" data-toggle="tab" href="#5" role="tab">Bank Details</a>
          </li>
        </ul>
        </h5>
      </div>

      <div class="card-body text-center">
        <form #f="ngForm">
          <!-------Auto Solution Form---------------->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade in active" id="1" role="tabpanel">
              <span class="">
                <h3>Auto solution</h3>
              </span>
              <hr>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="application-no">Application No.</label>
                    <input type="text" class="form-control" name="application" [(ngModel)] ="application" readonly required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="supervision-code">Supervision Code</label>
                    <input type="text" class="form-control" name="supervisionCode"  [(ngModel)] ="supervisionCode" required>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="sub-code">Sub-Code</label>
                    <input type="text" class="form-control" name="subCode"  [(ngModel)] ="subCode" readonly required>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group"> 
                    <label for="plan-code">Plan Code.</label>
                    <input type="text" class="form-control" name="planCode"  [(ngModel)] ="planCode" required>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="km">Km.</label>
                    <input type="text" class="form-control" name="kilomtr"  [(ngModel)] ="kilomtr" pattern="[0-9]{4}" required> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="supervision-no">Supervision Mobile No.</label>
                    <input type="tel" class="form-control" name="supervisionMobile"  [(ngModel)] ="supervisionMobile" minlength="10" maxlength="10" pattern="[0-9]{10}" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="plan-name">Plan Name</label>
                    <input type="text" class="form-control" name="planName"  [(ngModel)] ="planName" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="plan-amount">Plan Amount</label>
                    <input type="text" class="form-control" name="planAmt"  [(ngModel)] ="planAmt" pattern="[0-9]" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="plan-date">Plan Date</label>
                    <input type="date" name="planDate" max="3000-12-31" min="1000-01-01" class="form-control"  [(ngModel)] ="planDate" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="firstName" placeholder="Enter first name"  [(ngModel)] ="firstName" minlength="3" maxlength="16" required pattern="[A-Za-z]{3,16}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="middle-name">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" placeholder="Enter middle name"  [(ngModel)] ="middleName" minlength="3" maxlength="16" required pattern="[A-Za-z]{3,16}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="last-name">Surname</label>
                    <input type="text" class="form-control" name="lastName" placeholder="Enter suname name"  [(ngModel)] ="lastName" minlength="3" maxlength="16" required pattern="[A-Za-z]{3,16}">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="contact-no">Registered Contact No.</label>
                    <input type="tel" class="form-control" name="registerContact"  [(ngModel)] ="registerContact" minlength="10" maxlength="10" required pattern="[0-9]{10}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="drive">Driving</label>
                    <select class="form-control" name="drive"  [(ngModel)] ="drive" required>
                      <option>Self</option>
                      <option>Driver</option>
                    </select>
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" name="gender"  [(ngModel)] ="gender" required>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <hr>
                  <button type="button" class="btn user float-right" onclick="next(1)">Next</button>
                </div>
              </div>
            </div>
            <!----------Office Details---------------->

            <div class="tab-pane fade" id="2" role="tabpanel">
              <span>
                <h3>Office Details</h3>
              </span>
              <hr>
              <div class="row">
                <div class="col-md-10">

                  <!-- Material input -->
                  <div class="md-form">
                    <input type="text" name="officeAddress" class="form-control"  [(ngModel)] ="officeAddress" required pattern="[A-Za-z0-9]">
                    <label for="address">Office Address</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <label class="container-fluid c1 usercheck">Car Pickup
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="officeArea" class="form-control"  [(ngModel)] ="officeArea" pattern="[A-Za-z]" required>
                    <label for="area">Area</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="officeLandMark" class="form-control"  [(ngModel)] ="officeLandMark" pattern="[A-Za-z]" required>
                    <label for="landmark">Landmark</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="officeCity" class="form-control"  [(ngModel)] ="officeCity" pattern="[A-Za-z]" required>
                    <label for="city">City</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="officePin" class="form-control"  [(ngModel)] ="officePin" pattern="[0-9]{6}" required>
                    <label for="pin-code">Pin Code</label>
                  </div>
                </div>
              </div>
<!--               <div class="row">
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="officeNum" class="form-control"  [(ngModel)] ="officeNum" required>
                    <label for="tel-no">Contact Number</label>
                  </div>
                </div>
              </div> -->

              <div class="row">
                <div class="col-md">
                  <hr>
                  <button type="button" class="btn user float-left" onclick="prev(2)">Prev</button>
                  <button type="button" class="btn user float-right" onclick="next(2)" >Next</button>
                </div>
              </div>
            </div>

            <!-----------Residential details-------->
            <div class="tab-pane fade" id="3" role="tabpanel">
              <span>
                <h3>Residential Details</h3>
              </span>
              <hr>
              <div class="row">
                <div class="col-md-10">

                  <!-- Material input -->
                  <div class="md-form">
                    <input type="text" name="residentAddress" class="form-control"  [(ngModel)] ="residentAddress" pattern="[A-Za-z0-9]" required>
                    <label for="address">Residence Address</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <label class="container-fluid c1 usercheck">Car Pickup
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="residentArea" class="form-control"  [(ngModel)] ="residentArea" pattern="[A-Za-z0-9]" required>
                    <label for="area">Area</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="residantLandMark" class="form-control"  [(ngModel)] ="residentLandMark" pattern="[A-Za-z0-9]" required>
                    <label for="landmark">Landmark</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="residentCity" class="form-control"  [(ngModel)] ="residentCity" pattern="[A-Za-z]" required>
                    <label for="city">City</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="residentPin" class="form-control"  [(ngModel)] ="residentPin" pattern="[0-9]{6}" required>
                    <label for="pin-code">Pin Code</label>
                  </div>
                </div>
              </div>
      <!--         <div class="row">
                <div class="col-md-3">
                  <div class="md-form  form-group ">
                    <input type="text" name="residentContact" class="form-control"  [(ngModel)] ="residentContact" required>
                    <label for="tel-no">Contact Number</label>
                  </div>
                </div>
              </div> -->

              <div class="row">
                <div class="col-md">
                  <hr>
                  <button type="button" class="btn user float-left" onclick="prev(3)">Prev</button>
                  <button type="button" class="btn user float-right" onclick="next(3)">Next</button>
                </div>
              </div>
            </div>

            <!--------------------Car Details-------->

            <div class="tab-pane fade" id="4" role="tabpanel">
              <span>
                <h3>Car Details</h3>
              </span>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="vehicle-no">Vehicle Number</label>
                    <input type="text" class="form-control" name="vehicleNo"  [(ngModel)] ="vehicleNo" pattern="[A-Za-z0-9]" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="car-mack">Car Mack</label>
                    <input type="text" class="form-control" name="carMark"  [(ngModel)] ="carMark" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="modal">Model No</label>
                    <input type="text" class="form-control" name="model"  [(ngModel)] ="model" required>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="version">Version</label>
                    <input type="text" class="form-control" name="version"  [(ngModel)] ="version" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="fuel">Fuel</label>
                    <select class="form-control" name="fuel"  [(ngModel)] ="fuel" required>
                      <option>Petrol</option>
                      <option>Diesel</option>
                      <option>CNG</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="varied">Varied</label>

                    <select class="form-control" name="varied"  [(ngModel)] ="varied" required>
                      <option>Automatic</option>
                      <option>Manual</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="colour">Colour</label>
                    <input type="text" class="form-control" name="colour"  [(ngModel)] ="colour" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="km">Kilometer</label>
                    <input type="text" class="form-control" name="kilomte"  [(ngModel)] ="kilomte" pattern="[0-9]{4}" required>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md">
                  <hr>
                  <button type="button" class="btn user float-left" onclick="prev(4)">Prev</button>
                  <button type="button" class="btn user float-right" onclick="next(4)">Next</button>
                </div>
              </div>
            </div>

            <!------Bank Details------------>
            <div class="tab-pane fade" id="5" role="tabpanel">
              <span>
                <h3>Bank Details</h3>
              </span>
              <hr>

              <div class="row">
                <div class="col-md-3" style="margin-top: auto;margin-bottom: auto">
                  <label>Account Holder :</label>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="firstName"  [(ngModel)] ="firstName" minlength="3" maxlength="16" pattern="[A-Za-z]{3,16}" required>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="middle-name">Middle Name</label>
                    <input type="text" class="form-control" name="middleName"  [(ngModel)] ="middleName" minlength="3" maxlength="16" pattern="[A-Za-z]{3,16}" required>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="last-name">Surname</label>
                    <input type="text" class="form-control" name="lastName"  [(ngModel)] ="lastName" minlength="3" maxlength="16" pattern="[A-Za-z]{3,16}" required>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="bank-name">Bank Name</label>
                    <input type="text" class="form-control" name="bankName"  [(ngModel)] ="bankName" pattern="[A-Za-z]" required>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="branch">Branch</label>
                    <input type="text" class="form-control" name="branch"  [(ngModel)] ="branch" pattern="[A-Za-z]" required>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="account-no">Account Number</label>
                    <input type="text" class="form-control" name="accountNum" placeholder="Enter your account number"  [(ngModel)] ="accountNum"  pattern="[0-9]{11,16}" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="account-type">Account Type</label>
                    <select class="form-control" name = "accountType" [(ngModel)] ="accountType" required >
                      <option>Saving</option>
                      <option>Current</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ifsc-code">IFSC Code</label>
                    <input type="text" class="form-control" name="ifscCode" [(ngModel)] ="ifscCode" pattern="[A-Za-z]{4}\[0-9A-Za-z]{6}" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" required> I agree to the terms & conditions of serices offered by Pannox Auto Pvt. Ltd.
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md">
                  <hr>
                  <button type="button" class="btn user float-left" onclick="prev(5)">Prev</button>
                  <button class="btn user float-right" (click) = "createUser()" [disabled]="!f.valid">Submit</button>
                </div>
              </div>
            </div>
          </div>
          <!--    


            <div class="card-footer text-center">
                <button type="reset" role="button" class="btn user">Reset</button>
                <button type="submit" role="button" class="btn user">Submit</button>
            </div>-->

        </form>
      </div>
    </div>
  </div>
</div>